<%- include('../includes/head.ejs') %>

<body>
  <%- include('../includes/navigation.ejs') %>

  <main>
    <% if (products.length > 0) { %>
        <ul>
          <% for (let currentProduct of products) { %>
            <li>
              <p>
                <%= currentProduct.title %> (<%= currentProduct.cartItem.quantity %>)
              </p>
              <form action="/cart-delete-item" method="POST">
                <input type="hidden" name="productId" value="<%= currentProduct.id %>">
                <button class="btn" type="submit">Delete</button>
              </form>
            </li>
          <% } %>
          </ul>
          <h2>Total price: $<%= totalPrice %></h2>
      <% } else { %>
        <h1>No Products in the Cart!</h1>
      <% } %>  
  </main>
  <%- include('../includes/end.ejs') %>